.wo-libraries-container {
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
  margin: auto;
}

.wo-libraries-image {
  display: block;
  width: 100%;
  margin: auto;
}

.transition {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.wo-libraries-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .wo-libraries-carousel {
    width: 80%;
  }  
}

.wo-libraries-selectors {
  text-align: center;
}

.prev-btn:hover,
.next-btn:hover {
  color: darkgray;
}

.prev-btn,
.next-btn {
  font-size: 2rem;
  font-weight: bold;
  background: none;
  color: gray;
  border: none;
}

.carousel-selector:hover {
  background: darkgray;
}

.carousel-selector {
  height: 2rem;
  width: 4rem;
  background: lightgray;
  border: none;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.25rem;
  line-height: 0.5rem;
  padding: 0px;
  border-radius: 50%;
}

.current {
  background: gray;
}
